@{
    Page.Title = "Inicio";
    Layout = "~/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 class="display-4 text-center">Equipo 00</h1>
    <img class="d-block" style="margin: 0 auto;" width="300" src="~/img/Square150x150Logo.scale-200.png" />
    <hr class="my-4">
    <p class="lead text-center">Descripción del proyecto</p>
</div>

<ul class="list-group">
    <li class="list-group-item disabled">INTEGRANTES:</li>
    <li class="list-group-item">
        Juan Luis Carrillo Garcia
        <span class="badge badge-secondary">00000000</span>
    </li>
</ul>